@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
    padding: 5%;
}

.column-2 {
    width: 50%;
    float: left;
    padding: 5%;
}

.column-3 {
    width: 33.33%;
    float: left;
    padding: 5%;
}

.column-4 {
    width: 25%;
    float: left;
    padding: 5%;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}


/* Otras clases */

img {
    width: 100%;
}

.header {
    text-align: left;
    padding: 5%;
    font-family: 'Roboto Mono', monospace;
    padding: 5%;
}

.header h1 {
    font-size: 55px;
    color: darkcyan;
}

.header p {
    font-size: 20px;
}

.section-1 {
    background-color: #F5EEF5;
    padding: 5%;
}

h4 {
    font-size: 30px;
}

h2 {
    font-size: 45px;
    color: grey;
    font-family: 'Quicksand', sans-serif;
}

.section-2 {
    background-color: #faf5f3;
    padding: 5%;
}

.section-3 {
    background-color: #f2f9f8;
    padding: 5%;
}

.footer {
    background-color: black;
    color: white;
    padding: 5%;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    img {
        display: block;
        margin: 0px auto;
        width: 100%;
    }
    body {
        margin: 0%;
    }
    .flex {
        display: block;
    }
}